.nav {
   position: fixed;
   inset: 0 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 1.25rem;
   transition: 0.45s background-color;
   z-index: 10;
}
.nav__avatar {
   height: 1.8rem;
}
.nav__logo {
   height: 1.5rem;
}

.nav.nav__black {
   background-color: #111;
}
