/* 
.row__title {
   padding-left: 1rem;
}
.row__posters {
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: calc(100vw / 8);
   column-gap: 1rem;
   padding: 1rem;
   overflow-y: hidden;
   overflow-x: scroll;
   overscroll-behavior-inline: contain;
}
.row__poster {
   --transition-duration: 0.25s;
   object-fit: contain;
   width: 100%;

   transition-duration: var(--transition-duration);
   transition-property: transform;
}
.row__poster:hover {
   transform: scale(1.05);
   transition: --transition-duration transform;
   transition-delay: 0.5s;
}

@media screen and (min-width: 330px) {
   .row__posters {
      grid-auto-columns: calc(100vw / 3);
   }
}
@media screen and (min-width: 768px) {
   .row__posters {
      grid-auto-columns: calc(100vw / 5);
   }
} */
.row__title {
   padding-left: 1rem;
}
.row__title.subtitle {
   font-weight: 400;
   font-size: 1.4rem;
   letter-spacing: 1px;
   color: #f99;
}
.row__posters {
   display: flex;
   padding: 1rem 0.5rem;
   overflow-y: hidden;
   overflow-x: scroll;
   overscroll-behavior-inline: contain;
}
.row__poster {
   --transition-duration: 0.25s;
   object-fit: contain;
   max-height: 12rem;
   margin: 0rem 0.5rem;
   width: 100%;

   transition-duration: var(--transition-duration);
   transition-property: transform;
}
.row__poster:hover {
   transform: scale(1.05);
   transition: --transition-duration transform;
   transition-delay: 0.5s;
}
